<div class="auth-container">
  <h2>{{isLogin?'Sign In':'Sign Up'}}</h2>
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div><label>Email:</label><br />
    <input type="email" formControlName="email"/>
  <div *ngIf="authForm.get('email')?.invalid &&authForm.get('email')?.touched">Invalid email.</div>
  </div>
  <div>
    <label>Password:</label><br />
    <input type="password" formControlName="password"/>
    <div *ngIf="authForm.get('password')?.invalid &&authForm.get('password')?.touched">Password must be atleast 6 characters</div>
  </div>
  <button type ="submit" [disabled]="authForm.invalid">{{isLogin?'Sign In':'Sign Up'}}</button>
  </form>
  <p>{{isLogin? "Don't have an account?":'Already have an account?'}}<a href ="#" (click)="toggle();$event.preventDefault()">{{isLogin?'Sign up':'Sign in'}}</a></p>
